{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mini Dashboard IoT</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <h1>Mini Dashboard IoT</h1>

    <div class="cards-container">
        <!-- Carte Température -->
        <div class="card" id="temp-card">
            <h2>🌡️ Température</h2>
            <p class="value" id="temp-value">-- °C</p>
            <p class="time" id="temp-time">--</p>
            <button onclick="window.location.href='{% url 'graph_temp' %}'">Voir graphe température</button>
        </div>

        <!-- Carte Humidité -->
        <div class="card" id="hum-card">
            <h2>💧 Humidité</h2>
            <p class="value" id="hum-value">-- %</p>
            <p class="time" id="hum-time">--</p>
            <button onclick="window.location.href='{% url 'graph_hum' %}'">Voir graphe humidité</button>
        </div>
    </div>

    <script src="{% static 'dashboard.js' %}"></script>
</body>
</html>
